---
---
/* Import a minimal font (Inter, 300 weight for light look) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/* Set a custom font before importing the theme */
$base-font-family: 'Inter', sans-serif; 
$base-font-family: 'Poppins', sans-serif;
@import "{{ site.theme }}";
h1 a {
  font-family: 'Inter', sans-serif !important;
  font-weight: 300; 
  text-decoration: none; 
}
.view {
  display: flex; 
  align-items: center;
  gap: 15px; /* Adds space between icons */
}

.view a {
  display: inline-block;
}

